@import "src/common/slyles/sass/variable";

.header {
    background-color: $bgColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    @media screen and (max-width: 530px){
        justify-content: center;
    }

}