.project {
    width: 400px;
    background-color: #b1abab;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #d7c7f6;
}

.imgContainer .button{
    background-color: #e51dd0;
}

.title {
    background-color: #7addcc;
}

.description {
    background-color: #7addcc;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}