.mainBlock {
    height: 100vh;
    background-color: #a7de4b;
}

.greetingText {
    width: 400px;
    background-color: #b7b2b2;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #b7b2b2;
}